services:
  superset:
    image: apachesuperset.docker.scarf.sh/apache/superset:latest-dev
    container_name: superset
    ports:
      - "8088:8088"
    environment:
      - SUPERSET_SECRET_KEY=supersecretkey
    command: >
      /bin/bash -c "
        superset db upgrade &&
        superset fab create-admin --username admin --firstname Admin --lastname Admin --email oussamaend34@gmail.com --password admin &&
        superset init &&
        superset run -h 0.0.0.0 -p 8088 --with-threads --reload --debug
      "
    networks:
      - td-net
  postgres:
  image: postgres
  container_name: postgres
  environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=password
    - POSTGRES_DB=openalex_db
    - PGDATA=/pgdata
  ports:
    - "5432:5432"
  volumes:
    - pgdata:/pgdata
  networks:
    - td-net

networks:
  td-net:
    driver: bridge
